html{
    /* background: radial-gradient(ellipse at bottom, #3A3637 0%, #131112 100%) fixed; */
    background: #23212C;
}

body{
    font-family: 'Roboto';
}

ul#nav{
    color: #fff;
    margin: 30px 20% 0px 20%;
    overflow: hidden;
    list-style-type: none;
    background-color: #272525;
    border-radius: 15px;
    /* border: 1px solid #efc000; */
}

#mainbox{
    display:block;
    color:#000;
    margin: 0px 20% 0px 20%;
    padding: 10px 20px 50px 20px;
    text-align:left;
    /* background-color:#272525; */
    background-color: #E0E1E4; 
    border-radius: 15px;
    /* border: 1px solid #efc000; */
}

#footer{
    /* display:block; */
    color:#524e4e;
    margin: 30px 20% 30px 20%;
    padding: 10px 20px 10px 20px;
    background-color:#272525;
    border-radius: 15px;
    /* border: 1px solid #efc000; */
}

#footer a{
    color: #3A3637;
}

#footer a:hover{
    color: #efc000;
}

ul#nav li{
    float: left;
    display: block;
    width: auto;
    padding: 14px 16px;
    text-align: center;
    list-style-type: none;
}

ul#nav li:hover{
    color:#efc000;
    background-color:#3A3637;
}

div.cv-section h1{
    border-bottom: 1px solid rgb(167, 167, 167);
    margin-bottom: -5px;
}

.content-1{
    max-height: 0;
    margin: 10px 0px 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.content-2{
    max-height: 0;
    margin: 10px 0px 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.content-3{
    max-height: 0;
    margin: 10px 0px 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapse{
    font-family: "Material Icons Outlined";
    cursor: pointer;
    float: right;
}

.collapse:hover{
    color: #efc000;
    border-radius:10px;
    background: #3A3637;
}

.collapse:after{
    content: "expand_more"
}

.active:after {
    content: "expand_less"
}

div.bluebox {
    display: inline;
    float: left;
    background-color: #ADD8E6;
    border-radius: 10px;
    border: solid #60828d 1px;
    padding: 10px 20px 10px 20px;
    margin: 10px 0 10px 0;
}

.material-icons {
    vertical-align: middle;
}

iframe{
    width: 100%;
}