@keyframes wiggle {
    0%      { transform: rotate(1deg);}
    10%     { transform: rotate(-3deg);}
    20%     { transform: rotate(6deg);}
    30%     { transform: rotate(-12deg);}
    40%     { transform: rotate(8deg);}
    50%     { transform: rotate(-12deg);}
    60%     { transform: rotate(6deg);}
    70%     { transform: rotate(-3deg);}
    80%     { transform: rotate(1deg);}
    90%     { transform: none;}
    100%    { transform: none;}
}

@keyframes slidein {
    0% {
        transform: translateX(1000%);
        opacity: 0;
        display: none;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
        display: block;
    }   
}

@keyframes waitoffscreen {
    0%      {transform: translateX(1000%);}
    100%    {transform: translateX(1000%);}
}


body {
    font-family: "Ubuntu", serif;
    padding: 50px;
    background-color: #1a1820;
    overflow-x: hidden;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 310px);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

.box {
    text-align: center;
    height: 660px;
    background-color: #23212C;
    border-radius: 5px;
    margin-top: 10%;
    padding: 30px;
    color: #c0c0c0;
    animation: slidein 0.5s ease-out;
    transition: 0.25s;
}

.box:hover {
    margin-top: 3%;
}

.b {
    animation: waitoffscreen, slidein;
    animation-duration: 0.25s, 0.5s;
    animation-delay: 0s, 0.25s;
    transition-timing-function: linear, ease-out;
    background-color: #535159;
}

.c {
    animation: waitoffscreen, slidein;
    animation-duration: 0.5s, 0.5s;
    animation-delay: 0s, 0.5s;
    transition-timing-function: linear, ease-out;
    background-color: #87868b;
}

.d {
    animation: waitoffscreen, slidein;
    animation-duration: 0.75s, 0.5s;
    animation-delay: 0s, 0.75s;
    transition-timing-function: linear, ease-out;
    background-color: #c0c0c0;
}

p {
    width: 250px;
    min-width: 250px;
}


.wiggle {
    animation-name: wiggle;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

a:link, a:active, a:visited {
    color: #C0C0C0;
    text-decoration: none;
}


.links > a { /* borrowed from https://codepen.io/ryancolgin/pen/IBjla */
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.links > a:hover { /* borrowed from https://codepen.io/ryancolgin/pen/IBjla */
    color: #C0C0C0;
    text-shadow:0px 0px 3px #C0C0C0;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
  }

i {
    font-size: 32px;
    margin: 0 3px;
}

hr {
    margin: 30px 5px;
}
