html{
    background: #23212C;
}

body{
    font-family: 'Roboto';
}

/* Borrowed from https://codepen.io/cbracco/pen/qzukg */
[data-tooltip] { /* Add this attribute to the element that needs a tooltip */
    position: relative;
    z-index: 2;
    cursor: pointer;
}
  
[data-tooltip]:before,
[data-tooltip]:after { /* Hide the tooltip content by default */
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}
  
[data-tooltip]:before { /* Position tooltip above the element */
    position: absolute;
    top: 150%;
    /* bottom: 150%; */
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}
  
[data-tooltip]:after { /* Triangle hack to make tooltip look like a speech bubble */
    position: absolute;
    top: 150%;
    /* bottom: 150%; */
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}
  
[data-tooltip]:hover:before,
[data-tooltip]:hover:after { /* Show tooltip content on hover */
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

ul#nav{
    color: #fff;
    margin: 30px 20% 30px 20%;
    /* overflow: hidden; */
    list-style-type: none;
    background-color: #272525;
    border-radius: 15px;
    /* border: 1px solid #efc000; */
}

#header{
    display:block;
    color:#524e4e;
    margin: 30px 20% 30px 20%;
    /* padding: 0px 20px 0px 20px; */
    background-color:#272525;
    border-radius: 15px;
}

#mainbox{
    display:block;
    color:#000;
    margin: 30px 20% 0px 20%;
    padding: 10px 20px 50px 20px;
    text-align:left;
    /* background-color:#272525; */
    background-color: #E0E1E4; 
    border-radius: 15px;
    /* border: 1px solid #efc000; */
}

#footer{
    display:block;
    color:#524e4e;
    margin: 30px 20% 30px 20%;
    padding: 10px 20px 10px 20px;
    background-color:#272525;
    border-radius: 15px;
    /* border: 1px solid #efc000; */
}

#footer a:link, #footer a:visited{
    color: #3A3637;
}

#footer a:hover, #footer a:active{
    color: #efc000;
}

#header a{
    display: inline-block;
    padding: 10px 10px;
    text-align: center;
    list-style-type: none;
}

#header a:link, #header a:visited{
    color: #fff;
    text-decoration: none;
}

#header a:hover, #header a:active{
    color: #efc000;
    text-decoration: none;
}

#header a:first-child:hover{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color:#efc000;
    background-color:#3A3637;
}
#header a:hover{
    color:#efc000;
    background-color:#3A3637;
}

div.cv-section h1{
    border-bottom: 1px solid rgb(167, 167, 167);
    margin-bottom: -5px;
}

.content-edu{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.content-employment{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.content-skills{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.content-interests{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.content-cert{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapse{
    font-family: "Material Icons";
    cursor: pointer;
    float: right;
}

.collapse:hover{
    color: #efc000;
    border-radius:10px;
    background: #3A3637;
}

.collapse:after{
    content: "expand_more"
}

.active:after {
    content: "expand_less"
}

div.bluebox {
    display: inline;
    float: left;
    background-color: #ADD8E6;
    border-radius: 10px;
    border: solid #60828d 1px;
    padding: 10px 20px 10px 20px;
    margin: 10px 0 10px 0;
}

.material-icons {
    vertical-align: middle;
}
