<!-- <!DOCTYPE html> -->
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bree+Serif">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/style.css">
    <script> MathJax = {tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]}}; </script>
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>

<div id="header"><!--
    --><a href="#" data-tooltip="al.pointer@outlook.com"><span class="material-icons">alternate_email</span></a><!--
    --><a href="#" data-tooltip="Stamford, England"><span class="material-icons">location_city</span></a><!--
    --><a href="#" data-tooltip="Available upon request"><span class="material-icons">phone</span></a>
</div>

<!-- end header -->

<div id="mainbox">
    <div class="cv-section">
        <h1><span class="material-icons">school</span>&nbsp;&nbsp;Education <span onclick="collapse()" id="edu" class="collapse"></span></h1>
            <div class="content-edu">
            <div class="bluebox">
                <p style="font-weight:bold;">MMath (Hons) in Mathematics (1st)</p>
                <p><span class="material-icons">location_on</span> University of Nottingham, Schools of Mathematical Sciences</p>
                <p><span class="material-icons">date_range</span> Sept 2017 - June 2021</p>
            </div>
            </div>
    </div>
    <div class="cv-section">
        <h1><span class="material-icons">engineering</span>&nbsp;&nbsp;Employment <span onclick="collapse()" id="employment" class="collapse"></span></h1>
            <div class="content-employment">
                <p>bingo bango bongo</p>
            </div>
    </div>
    <div class="cv-section">
        <h1><span class="material-icons">auto_awesome</span>&nbsp;&nbsp;Skills <span onclick="collapse()" id="skills" class="collapse"></span></h1>
            <div class="content-skills">
                <p>bingo bango bongo</p>
            </div>
    </div>
    <div class="cv-section">
        <h1><span class="material-icons">interests</span>&nbsp;&nbsp;Interests <span onclick="collapse()" id="interests" class="collapse"></span></h1>
            <div class="content-interests">
                <p>bingo bango bongo</p>
            </div>
    </div>
    <div class="cv-section">
        <h1><span class="material-icons">history_edu</span>&nbsp;&nbsp;Certificates <span onclick="collapse()" id="cert" class="collapse"></span></h1>
            <div class="content-cert">
                <p>bingo bango bongo</p>
            </div>
    </div>
</div>

<script type="text/javascript">
    function collapse() {
        event.target.classList.toggle("active");
        var id = event.target.id;
        // console.log(id);
        var section = document.getElementsByClassName('content-' + id)[0];
        // console.log(section);
        if (section.style.maxHeight){
            section.style.maxHeight = null;
        } else {
            section.style.maxHeight = section.scrollHeight + "px";
        }
    }
</script>

<!-- begin footer-->

<div id="footer">
    <a href="/"><span class="material-icons">home</span></a>
</div>

</body>
</html>