<!-- <!DOCTYPE html> -->
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bree+Serif">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/style.css">
    <script> MathJax = {tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]}}; </script>
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>

<ul id="nav">
    <li>link-1</li>
    <li>link-2</li>
    <li>link-3</li>
    <li>link-4</li>
    <li>link-5</li>
    <li>link-6</li>
    <li>link-7</li>
</ul>

<!-- end header -->