<!-- <!DOCTYPE html> -->
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bree+Serif">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/style.css">
    <script> MathJax = {tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]}}; </script>
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>

<div id="header"><!--
    --><a href="#" data-tooltip="link 1">link 1</a><!--
    --><a href="#" data-tooltip="link 2">link 2</a><!--
    --><a href="#" data-tooltip="link 3">link 3</a>
</div>

<!-- end header -->